---
import CV from "../components/CV"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>CV - Cesar Obeth Flores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-white">
    <CV client:load />
  </body>
</html>
