---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="flex flex-row flex-wrap justify-center items-center gap-4">
		<div class="skill">
			<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Full Stack</h2>
			<p></p>
		</div>
		<div class="skill">
			<Icon icon="ux" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>UI/UX</h2>
			<p></p>
		</div>
		<div class="skill">
			<Icon icon="RD" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Responsive Design</h2>
			<p></p>
		</div>
		<div class="skill">
			<Icon icon="ED" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Engineer Design</h2>
			<p></p>
		</div>
		<div class="skill">
			<Icon icon="CID" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>CI/CD</h2>
			<p></p>
		</div>
		<div class="skill">
			<Icon icon="CC" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Cloud Computing</h2>
			<p></p>
		</div>
		<div class="skill">
			<Icon icon="DB" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>DBs</h2>
			<p></p>
		</div>
		<div class="skill">
			<Icon icon="API" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>APIs y Microservices</h2>
			<p></p>
		</div>
	</div>
</section>

<style>
	.box {
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}
	.skill{
		display: flex;
		flex-direction: column;
		justify-content: start;
		text-align: center;
		align-items: center;
		gap: 4px;
		flex: 1 0 30%;
	}
	.skill h2 {
		font-size: 1.1rem;
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skill h2 {
			font-size: var(--text-2xl);
		}
		.skill{
			flex: 1 0 21%;
		}
	}
	@media (min-width: 1280px) {
		.skill{
			flex: 1 0 15%;
		}
	}
</style>
